header {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-size: x-large;
}

main {
    background-color: blue;
}

h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}